/**
 * @author Ethan Bastian
 * @email ethanbastian11@gmail.com
 * @create date 2023-10-04 08:16:59
 */
/**
 * @author Ethan Bastian
 * @email ethanbastian11@gmail.com
 * @create date 2023-10-04 08:16:59
 */


body {
    font-family: 'Lato', sans-serif;
}
.header {
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    
}

.input {
    display: flex;
    flex-direction: column;
    width: 90vw;
    
    border-radius: 5px;
}

.input-name {
    height: 7.5vh;
    border: 1px solid #678BBA; /* Border color */
    border-radius: 5px; /* Border radius */
    padding: 0 10px; /* Space between container and text */
}



.input p {
    padding-left: 10px;
}

.sign-up-btn {
    height: 7.5vh;
    margin-top: 5vh;

}

.top-navbar {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    background-color: #678BBA;
    color: white;
    height: max-content; /* Set the desired height for the navbar */
    align-items: center; /* Vertically center content */
    justify-content: space-between; /* Space between content */
    padding: 0 20px; /* Add some padding to the left and right */
    padding-top: 3vh;
    padding-bottom: 5vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    border-radius: 5vw;
    height: max-content;
    
}

.top-navbar-up {
    display: flex;
    width: 70vw;
    padding-bottom: 2vh;
    justify-content: space-between;
    align-items: center;
}

/* Style for the container of the iOS-style switch */
.ios-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  /* Style for the actual checkbox input (hidden) */
  .ios-switch input[type="checkbox"] {
    display: none;
  }
  
  /* Style for the slider, which represents the switch */
  .ios-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Off background color */
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  /* Style for the slider when the switch is "on" */
  .ios-switch input[type="checkbox"]:checked + .slider {
    background-color: #0074d9; /* On background color */
  }
  
  /* Style for the slider's round thumb */
  .ios-switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  /* Style for the slider's round thumb when the switch is "on" */
  .ios-switch input[type="checkbox"]:checked + .slider:before {
    -webkit-transform: translateX(26px); /* Move the thumb to the right */
    transform: translateX(26px);
  }
  

.search-bar {
    min-width: 80vw;
    min-height: 7.5vh;
    border-radius: 50px;
    padding-left: 20px;
}

.region-search , .keyword-search {
    display: flex;
    color:#678BBA;
    background-color: rgb(255, 255, 255);
    min-width: 12.5vw;
    min-height: 12.5vw;
    align-items: center;
    justify-content: center;
    border-radius: 20vw;
}

.switch-keyword-region {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-tourism {
    display:flex ;
    padding-top: 30vh;
    flex-direction: column;
}

.our-tourism h1 {
    color: #FFC50F;
    font-weight: bold;
    font-size: 30px;
    padding-left: 6vw;
}

.list-category {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.1); /* Background color with transparency */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for a floating effect */
    border-radius: 10px; /* Rounded corners for a glass-like appearance */
    padding: 0px;
    min-width: 95%;
    justify-content: space-evenly;
    min-height: 100vh;
    
}
  
.category {
    min-width: 40vw;
    min-height: 40vw !important;
    max-width: 40vw;
    max-height: 40vw !important;
    background-color: #EAC2F6;
    margin: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border-radius: 3vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for a floating effect */
}

.logo-tourism {
    width: 25vw;
    height: auto;
}

.map {
    padding-top: 33vh;
    border-radius: 10vw !important;
    border: 1px #678BBA;
    padding-bottom: 5vh;
}

.list-place {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.1); /* Background color with transparency */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for a floating effect */
    border-radius: 10px; /* Rounded corners for a glass-like appearance */
    padding: 0px;
    min-width: 95%;
    justify-content: space-evenly;
    height: max-content
    
}
  
.place {
    min-width: 95%;
    height: max-content;
    background-color: #678BBA;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 3vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for a floating effect */
}

.place img {
    padding: 2vw 2vw 2vw 3vw;
}

.place p {
    padding-right: 10vw; 
    font-size: 20;
}

.package-body {
    background-color: #678BBA
}

.package-body header {
    width: 60vw;
}

.package-body h1 {
    font-size: 6.5vw;
}

.list-package {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 1); /* Background color with transparency */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for a floating effect */
    border-radius: 10px; /* Rounded corners for a glass-like appearance */
    padding: 0px;
    min-width: 95%;
    justify-content: space-evenly;
    height: max-content;
    flex-direction: column;
 
}

.list-package .search-bar {
    padding: 0px 10px 0px 10px;
}

.list-filter {
    display:flex ;
    justify-content: space-around;
    width: 100%;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #678BBA; /* Specify a border style (solid) */
    border-radius: 10vh;
    min-width: 20%;
    max-height: 4vh;
    margin: 10px;
}

.filters p {
    padding: 0 20px; /* Adjust the padding values as needed */
    font-size: small;
}

.list-package h1 , h2 {
    color:#FFC50F;
    padding-left: 3vw;
}



.package {
    display: flex;
    flex-direction: row;
    padding-bottom: 2vh;
}

.package-left {
    width: 25%;
    padding-right: 7.5vw !important;
}

.package-left img {
    width: 100%;
    height: auto;
}

.package-right {
    width: 75%;
}

.package-name {

    background-color: #678BBA;
    border-radius: 20vh;
    width: max-content;
    height: max-content
}

.package-name h1 {
    padding: 0px 10px !important; /* Adjust the padding values as needed */
}


.package-name h1{
    padding: 0 20px;
    color: black;
    font-weight: bold;
}

.package-name h1 , h2 , p{
   padding: 0px 0px 0px 0px;
   margin: 0px 0px;
}

.package p {
    font-size: 10px;
}

.customize-btn {
    width: max-content;
    height: max-content;
    font-size: 8px;
    border-radius: 3vh;
    border: 0.5px solid;
}

.package-list .load-more-btn {
    width: 100%;
}

.body-profile {
    background: #678BBA;
    background-color: #678BBA;
}

.header-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invisible-h1 {
    visibility: hidden;
}

.profile-picture {
    width: 100%;
    height: max-content;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.profile-picture .pict img {
    width: 30vw;
    height:30vw;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 20vw;
}

.profile-picture .pict {
    padding-top: 5vh;
    padding-bottom: 1vh;
}

.profile-picture h2 {
    color : black;
    padding-bottom: 1vh;
}

.profile-picture p {
    padding-bottom: 5vh;
}

.general-settings  {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.opt-header , .opt-header h2 {
    background-color: #EDEDED;
    font-size: medium;
    font-weight: medium;
    padding: 1vh 1vh 1vh 2vh;
    color: #888888;
}

.general-settings p {
    font-size: medium;
    font-weight: medium;
    padding: 2vh 1vh 2vh 5vh;
    color: #000000;
}

.opt {
    display: flex;
    justify-content: space-between;
}

.opt-name {
    display: flex;
    flex-direction: row;
}