/**
 * @author Ethan Bastian
 * @email ethanbastian11@gmail.com
 * @create date 2023-10-05 16:51:28
 */
/**
 * @author Ethan Bastian
 * @email ethanbastian11@gmail.com
 * @create date 2023-10-05 13:29:03
 */
/**
 * @author Ethan Bastian
 * @email ethanbastian11@gmail.com
 * @create date 2023-10-04 08:16:59
 */
/**
 * @author Ethan Bastian
 * @email ethanbastian11@gmail.com
 * @create date 2023-10-04 08:16:59
 */


body {
    font-family: 'Lato', sans-serif;
}
.header {
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    
}

.input {
    display: flex;
    flex-direction: column;
    width: 90vw;
    
    border-radius: 5px;
}

.input-name {
    height: 7.5vh;
    border: 1px solid #52d9ff; /* Border color */
    border-radius: 5px; /* Border radius */
    padding: 0 10px; /* Space between container and text */
}



.input p {
    padding-left: 10px;
}

.sign-up-btn {
    height: 7.5vh;
    margin-top: 5vh;

}

.top-navbar {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    background-color: #52d9ff;
    color: white;
    height: max-content; /* Set the desired height for the navbar */
    align-items: center; /* Vertically center content */
    justify-content: space-between; /* Space between content */
    padding: 0 20px; /* Add some padding to the left and right */
    padding-top: 3vh;
    padding-bottom: 5vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    border-radius: 5vw;
    height: max-content;
    
}

.top-navbar-up {
    display: flex;
    width: 70vw;
    padding-bottom: 2vh;
    justify-content: space-between;
    align-items: center;
}

/* Style for the container of the iOS-style switch */
.ios-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  /* Style for the actual checkbox input (hidden) */
  .ios-switch input[type="checkbox"] {
    display: none;
  }
  
  /* Style for the slider, which represents the switch */
  .ios-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Off background color */
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  /* Style for the slider when the switch is "on" */
  .ios-switch input[type="checkbox"]:checked + .slider {
    background-color: #0074d9; /* On background color */
  }
  
  /* Style for the slider's round thumb */
  .ios-switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  /* Style for the slider's round thumb when the switch is "on" */
  .ios-switch input[type="checkbox"]:checked + .slider:before {
    -webkit-transform: translateX(26px); /* Move the thumb to the right */
    transform: translateX(26px);
  }
  

.search-bar {
    min-width: 80vw;
    min-height: 7.5vh;
    border-radius: 50px;
    padding-left: 20px;
}

.region-search , .keyword-search {
    display: flex;
    color:#52d9ff;
    background-color: rgb(255, 255, 255);
    min-width: 12.5vw;
    min-height: 12.5vw;
    align-items: center;
    justify-content: center;
    border-radius: 20vw;
}

.switch-keyword-region {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-tourism {
    display:flex ;
    padding-top: 30vh;
    flex-direction: column;
}

.our-tourism h1 {
    color: #FFC50F;
    font-weight: bold;
    font-size: 30px;
    padding-left: 6vw;
}

.list-category {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.1); /* Background color with transparency */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for a floating effect */
    border-radius: 10px; /* Rounded corners for a glass-like appearance */
    padding: 0px;
    min-width: 95%;
    justify-content: space-evenly;
    min-height: 100vh;
    
}
  
.category {
    min-width: 40vw;
    min-height: 40vw !important;
    max-width: 40vw;
    max-height: 40vw !important;
    background-color: #EAC2F6;
    margin: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border-radius: 3vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for a floating effect */
}

.logo-tourism {
    width: 25vw;
    height: auto;
}

.map {
    padding-top: 33vh;
    border-radius: 10vw !important;
    border: 1px #52d9ff;
    padding-bottom: 5vh;
}

.list-place {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.1); /* Background color with transparency */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for a floating effect */
    border-radius: 10px; /* Rounded corners for a glass-like appearance */
    padding: 0px;
    min-width: 95%;
    justify-content: space-evenly;
    height: max-content
    
}
  
.place {
    min-width: 95%;
    height: max-content;
    background-color: #52d9ff;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 3vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for a floating effect */
}

.place img {
    padding: 2vw 2vw 2vw 3vw;
}

.place p {
    padding-right: 10vw; 
    font-size: 20;
}

.package-body {
    background-color: #52d9ff
}

.package-body header {
    width: 60vw;
}

.package-body h1 {
    font-size: 6.5vw;
}

.list-package {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 1); /* Background color with transparency */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for a floating effect */
    border-radius: 10px; /* Rounded corners for a glass-like appearance */
    padding: 0px;
    
    min-width: 95%;
    justify-content: space-evenly;
    height: max-content;
    flex-direction: column;
 
}

.pemisah {
    width: 100%;
    color: black;
}

.list-package .search-bar {
    padding: 0px 10px 0px 10px;
}

.list-filter {
    display:flex ;
    justify-content: space-around;
    width: 100%;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #25252588; /* Specify a border style (solid) */
    border-radius: 10vh;
    min-width: 20%;
    max-height: 4vh;
    margin: 10px;
}

.search-container-package {
    padding-top: 2vh;
    width: 100%;
    display : flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-family: 'Gabarito', cursive;
}

.list-package {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-package .search-bar-package {
    width : 85%;
    height: 4vh;
    border: 1px solid black;
    border-radius: 10vw;
}

.filters p {
    padding: 0 20px; /* Adjust the padding values as needed */
    font-size: small;
    font-weight: 600;
}

.list-package h1 , h2 {
    color:#a3800d;
    padding-left: 3vw;
}



.package {
    display: flex;
    flex-direction: row;
    padding-bottom: 2vh;
}

.package-left {
    width: 25%;
    display: flex;
    padding-right: 3.75vw !important;
    padding-left: 3.75vw !important;
    justify-content: center;
    align-items: center;
}

.package-body header {
    padding-top: 2vh;
    padding-bottom: 1vh;
}

.package-body .navbar-top {
    position: fixed;
    padding-bottom: 30vh;
}

.package-body h1 {
    padding-left: 5vw;
    font-size: large;
    margin: 0;
    font-family: 'Gabarito', cursive;
}

.package-list {
    padding-top: 3vh;
    padding-bottom: 7vh ;
}



.package-left img {
    width: 100%;
    height: auto;
}

.package-right {
    width: 75%;
}

.package-name {

    background-color: #52d9ff;
    border-radius: 20vh;
    width: max-content;
    height: max-content
}

.package-name h1 {
    padding: 0px 10px !important; /* Adjust the padding values as needed */
}

.loading-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loading-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    animation: loading 1s infinite alternate;
  }
  
  .loading-dot:nth-child(1) {
    animation-delay: 0s;
  }
  
  .loading-dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .loading-dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .loading-dot:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  @keyframes loading {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  

.package-name h1{
    padding: 0 20px;
    color: black;
    font-weight: bolder !important;
}

.package-name h1 , h2 , p{
   padding: 0px 0px 0px 0px;
   margin: 0px 0px;
   font-weight: bolder !important;
}

.package p {
    font-size: 12.5px;
}


.line-package {
    border: 1.4px solid #a3800d;
    border-radius: 1vh;
}

.customize-btn {
    width: max-content;
    height: 2vh;
    font-size: 8px;
    border-radius: 3vh;
    border: 0.5px solid;
}

.package-list .load-more-btn {
    width: 100%;
}

.body-profile {
    background: #52d9ff;
    background-color: #52d9ff;
}

.header-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invisible-h1 {
    visibility: hidden;
}

.profile-picture {
    width: 100%;
    height: max-content;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.profile-picture .pict img {
    width: 30vw;
    height:30vw;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 20vw;
}

.profile-picture .pict {
    padding-top: 5vh;
    padding-bottom: 1vh;
}

.profile-picture h2 {
    color : black;
    padding-bottom: 1vh;
}

.profile-picture p {
    padding-bottom: 5vh;
}

.general-settings  {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.opt-header , .opt-header h2 {
    background-color: #EDEDED;
    font-size: medium;
    font-weight: medium;
    padding: 1vh 1vh 1vh 2vh;
    color: #888888;
}

.general-settings p {
    font-size: medium;
    font-weight: medium;
    padding: 2vh 1vh 2vh 5vh;
    color: #000000;
}

.opt {
    display: flex;
    justify-content: space-between;
}

.opt-name {
    display: flex;
    flex-direction: row;
}

.header-dash {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-dash .right h1{
    font-size: 5vh;
    font-weight: lighter;
    padding-bottom: 1vh;
    padding-right: 10vw;
}

.contens-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contens-upper .left h1 {
    font-size: x-large;
}

.contens-upper .left h2 {
    font-size: large;
}

.contens-upper .left h1 , h2 , p {
    font-weight: lighter;
    color: black !important;
    padding: 0x 0px 0px 0px;
    margin: 0;
    padding-left: 5vw;
}

.contens-upper .right .pict img {
    width: 30vw;
    height:30vw;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 20vw;
    
}

.contens-upper .right .pict {
    padding-right: 5vw;
}

.contens-middle {
    padding-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0px;
    
}

.contens-middle .following {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contens-below {
    display: flex;
    padding-top: 2vh;
    width: 97.5vw;
    height: max-content;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contens-below .posts {
    display: flex;
    background-color: #0074d9;
    width: 30vw;
    height: 30vw;
    margin: 0.3vh;
}

body {
    max-width: 478px; /* Set your desired maximum width */
    margin: 0 auto; /* Center-align the body horizontally */
}

.element {
    width: 478px; /* Set the width to 478px for screens wider than 478px */
}

.video-header {
    display: flex;
    width: 100vw;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    background-color: #52d9ff;
    color: #ffffff;
}

.video-header .invisible {
    visibility: hidden;
}

.video-header .material-symbols-outlined {
    color: #ffffff;
    padding-right: 5vw;
}

.video-frame video {
    width: 100vw;
    height: auto;
}

.mailbox-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.invisible {
    visibility: hidden;
}

a {
    text-decoration: none;
}

.video-attribute .profile{
    position: absolute;
    top: 7%;
    left: 2%;
    color: white;
  }

.video-attribute .like-comment-share {
    position: absolute;
    top: 25%;
    right: 1%;
    color: white;
    display: flex;
    flex-direction: column;
}

.video-attribute .like-comment-share .material-symbols-outlined {
    padding-top: 3vh;
}

.video-attribute .description {
    position: absolute;
    bottom: 7%;
    left: 1%;
    color: white;
    display: flex;
    flex-direction: column;
}

.description h2 {
    color: white !important ;
}

.description p {
    color:#fff!important;
}

.nav-bottom {
    position: absolute;
    bottom: 1%;
    display: flex;
    flex-direction: column;
    width: 100%
}

.material-button {
    background-color: transparent;
    width: max-content;
    height: max-content;
    border: none;
    cursor: pointer;
}